:root {
  --primary-color: #faaf40;
  --secondary-color: #922c2b;
  --accentColour: #2b3283;
  --background-color: #171717;
  --grey: #b6b5b5;
  --darkGrey: #7a7a7a;
  --overlay: #2b328377;
  --lightBgCream: #ffddaa49;
  --brandHover: #6b2120;
}
@media (max-width: 1399.98px) {
  .PointCardWraper {
    align-items: center;
  }
  .WhatWeDoCard {
    font-size: 16px;
    padding: 10px 11px 10px 30px;
  }
  .PointIcon {
    width: 52px;
  }
  .PointIcon div img {
    width: 24px;
  }
  .leftPoiter {
    font-size: 16px;
    padding: 10px 30px 10px 11px;
  }
}
@media (max-width: 1199.98px) {
  .display-3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
  }
  .secH,
  .therdH {
    line-height: 40px;
  }
  .secH {
    font-size: 36px;
  }
  .therdH {
    font-size: 26px;
  }
  .strategicCard {
    min-height: 388px;
  }
  .WhatWeDoCard {
    font-size: 12px;
    padding: 10px 11px 10px 30px;
  }
  .leftPoiter {
    font-size: 12px;
    padding: 10px 30px 10px 11px;
  }
}
@media (max-width: 991.98px) {
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.active:hover,
  .navbar-nav .show > .nav-link {
    color: var(--secondary-color);
  }
  .secondRoot,
  .thirdRoot {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .display-3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
  }
  .secH {
    font-size: 32px;
    line-height: 38px;
  }
  .therdH {
    font-size: 24px;
    line-height: 40px;
  }
  .navbar-nav {
    gap: 4px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .miniHeader {
    display: none;
  }
  .navbar-nav .nav-link {
    font-weight: 600;
    color: var(--background-color);
  }
  .navbar-nav .nav-link.active {
    position: relative;
  }
  .bg-light {
    background-color: #fff !important;
  }
  #ca1.owl-carousel .item,
  .Banner {
    height: calc(100vh - 91px);
  }
  .footer .container > .row {
    row-gap: 30px;
  }
  .keyServiceSections > .row {
    row-gap: 24px;
  }
  .strategicCard {
    min-height: unset;
  }
  .nav-pills .nav-link {
    font-size: 11px;
  }
  .PointCardWraper {
    align-items: center;
    width: 92%;
  }
  .PcardWrapper3 {
    width: 100%;
  }
  .WhatWeDoCard,
  .leftPoiter {
    font-size: 9px;
  }
  .PointIcon {
    width: 52px;
  }
  .PointIcon div img {
    width: 24px;
  }
  .PcardWrapper3 .WhatWeDoCard.leftPoiter {
    left: 10px;
  }
  .PcardWrapper3 .WhatWeDoCard.rightPoiter {
    right: -24px;
  }
  .PcardWrapper4 .WhatWeDoCard.rightPoiter {
    right: 50px;
  }
  .LogoCenter {
    width: 120px;
    padding: 6px;
  }
  .centerLogoImg {
    border: 2px solid #000;
    padding: 12px;
  }
  .secondRoot {
    display: flex;
    justify-content: start;
    gap: 10px;
    position: relative;
  }
  .secondRoot::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: calc(100% + 29px);
    left: 0;
    background-color: var(--darkGrey);
  }
  .RootCard,
  .thirdRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .secondRoot .RootCard {
    transform: none;
    margin-left: 32px;
    position: relative;
  }
  .secondRoot .RootCard::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    left: -30px;
    background-color: var(--darkGrey);
  }
  .secondRoot .RootCard::before,
  .thirdRoot .RootCard::before {
    bottom: 0;
    width: 2px;
    height: calc(100% + 30px);
    left: -32px;
    content: "";
    position: absolute;
    background-color: var(--darkGrey);
  }
  .secondRoot .RootCard::before {
    top: unset;
  }
  .thirdRoot {
    flex-direction: column;
    align-items: start;
    gap: 14px;
    position: relative;
  }
  .thirdRoot .RootCard {
    gap: 4px;
    position: relative;
    margin-left: 32px;
  }
  .thirdRoot .RootCard::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 22px;
    height: 2px;
    left: -30px;
    background-color: var(--darkGrey);
  }
  .thirdRoot .RootCard:nth-last-child(2):after {
    width: 22px;
  }
  .thirdRoot .RootCard:last-child::after {
    display: block;
  }
  .thirdRoot .RootCard:last-child:before {
    bottom: calc(50% - 2px);
  }
  .rowReverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767.98px) {
  .footer,
  .footer .secH,
  .leadingTeamCard {
    text-align: center;
  }
  .display-3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
  .secH {
    font-size: 28px;
    line-height: 52px;
  }
  .therdH {
    font-size: 22px;
    line-height: 40px;
  }
  .defaultPadding {
    padding: 50px 0;
  }
  .footer.defaultPadding {
    padding: 34px 0;
  }
  .footer .secH {
    margin-bottom: 24px;
  }
  .footer .container > .row {
    justify-content: center;
    row-gap: 40px;
  }
  .footer .social-icons {
    justify-content: center;
  }
  .footer .exploreLinks ul li,
  .footer .exploreLinks1 ul li {
    text-align: left;
  }
  .footer-brand {
    display: table !important;
    margin: auto;
  }
  .footer .locationLink {
    max-width: 304px;
  }
  .footer ul:not(.footer .exploreLinks1 ul) {
    max-width: 304px;
    margin: auto;
  }
  .footer .exploreLinks1 ul {
    max-width: 352px;
    margin: auto;
  }
  .footer .exploreLinks ul {
    width: 143px;
    max-width: 143px !important;
    margin: auto;
  }
  .BannerWithText {
    padding: 50px 20px;
  }
  .nav-pills .nav-link {
    clip-path: none;
  }
  .MobilePoints .WhatWeDoCard {
    font-size: 13px;
  }
  .technicalAndSaftyTraining .nav-link {
    padding: 8px 20px;
  }
  .technicalAndSaftyTraining .nav-pills {
    row-gap: 4px;
  }
  .specEngRow .fifthH {
    font-size: 14px;
  }
  .leadingTeamCard {
    flex-direction: column;
    align-items: center;
  }
  .mainPerson .TeamMemberImg {
    width: 44%;
}
.TeamMemberImg {
  width: 30%;
}
}
@media screen and (max-width: 600px) {
  .generalComparisonsTable table {
    min-width: unset;
    width: 100%;
  }
  .generalComparisonsTable th:first-of-type {
    position: static;
    display: block;
    width: 100%;
    max-width: 100%;
    z-index: 2;
  }
  .generalComparisonsTable.ProductDiscriptionPage0 th:first-of-type,.generalComparisonsTable.buildingProjectPage0 th:first-of-type  {
    width: 100%;
    max-width: 100%;
  }



  table.ResponsiveTable thead {
    display: none;
  }
  table.ResponsiveTable tbody td {
    display: block;
  }
  table.ResponsiveTable tbody tr td:first-child {
    background: #666;
    color: #fff;
  }
  table.ResponsiveTable tbody td:before {
    content: attr(data-th);
    font-weight: 700;
    display: block;
  }
}
@media (max-width: 575.98px) {
  #ca1.owl-carousel .bannerCard {
    margin: auto;
  }
  .Banner .owl-nav button {
    pointer-events: initial;
    height: 40px;
    width: 44px;
    background-color: var(--skyblue) !important;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--lightGrey) !important;
  }
  .bannertext1 {
    padding: 30px !important;
    color: #fff;
  }
  .bannertext1 .display-3 a {
    color: #fff;
  }
  .footer .fourthH {
    margin-bottom: 20px;
  }
}
@media only screen and (max-height: 539.98px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
}
@media only screen and (max-height: 539.98px) and (max-width: 1024px) {
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
  .desktopImg {
    display: block !important;
  }
  .mobileImg {
    display: none !important;
  }
}
