<div class="container">
  <div class="row">
    <!-- Company Info -->
    <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
      <a class="footer-brand" href="index.html">
        <img src="image/KSR_LogoWhite.webp" alt="KSR">
      </a>
      <p>
        
KSR International Consultants & Engineers Delivering expert engineering, project management, and consulting solutions with precision, innovation, and excellence. Building a better future together
      </p>
    </div>

    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="fourthH centerStyle">Quick Links</h5>
      <ul>
        <li>
          <a href="index.html"><i class="fa-solid fa-circle-chevron-right"></i>Home</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-circle-chevron-right"></i>About KSR</a>
        </li>
        <li>
          <a href="projects.html"><i class="fa-solid fa-circle-chevron-right"></i>Projects</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-circle-chevron-right"></i>Gallery</a>
        </li>
        <li>
          <a href="contact.html"><i class="fa-solid fa-circle-chevron-right"></i>Contact</a>
        </li>
       
      </ul>
    </div>

    <div class="col-md-6 col-lg-auto mb-4 mb-md-0 exploreLinks1">
      <h5 class="fourthH centerStyle">Brochure</h5>
      <a href="image/BannerImg2.webp" download="image/BannerImg2.webp" class="pdf-button">Download PDF</a>

    </div>

    <!-- Contact Info -->
    <div class="col-lg-3 col-sm-6 emailSec">
      <h5 class="fourthH centerStyle">Reach Us</h5>

      <ul class="contact-info">
        <li>
          <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/CBLRxChetjzae83r6"><i class="fa-solid fa-location-dot" aria-hidden="true"></i>A1-TF-25/26, Akshar Pavilion 
            Road 4, Vasna - Bhayli Main Rd,  
            Opp. to Rosedale Heights,  
            Before Priya Cinema  
            Vadodara – 390021,Gujarat, India 
            </a>
        </li>
        <li>
          <a href="tel:+91 2653564398"><i class="fa-solid fa-mobile-retro"></i>+91 265 356 4398</a>
        </li>
        <li>
          <a class="emailAnchor" href="mailto:info@ksr-in.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i>info@ksr-in.com</a>
        </li>
      </ul>
      <div class="social-icons mt-3">
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>