<link fetchpriority="high" rel="preload" href="image/KSR_Logo.png" as="image" type="image/svg"/>

<nav  class="navbar navbar-expand-lg bg-light">
    <div class="container header">
      <a class="navbar-brand d-inline-block d-lg-none" href="index.html">
       <img src="image/KSR_Logo.png" alt="KSR Logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" href ="index.html"
              >Home</a
            >
          </li>
        
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="aboutKSR.html">About KSR</a></li>
              <li><a class="dropdown-item" href="WhatWeDo.html">What WE Do ?</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="multiDisciplineEngineering.html">Multi Discipline Engineering</a></li>
              <li><a class="dropdown-item" href="integratedBuildingEngineering.html">Integrated Building Engineering</a></li>
              <li><a class="dropdown-item" href="specializedEngineeringServices.html"> Specialized Engineering Services</a></li>
              <li><a class="dropdown-item" href="IndustrialTraining.html"> Industrial Training</a></li>
              <li><a class="dropdown-item" href="EngineeringSoftware.html"> Engineering Software</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Projects.html">Projects</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Organization
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="leadershipTeam.html">Our leadership Team</a></li>
              <li><a class="dropdown-item" href="organizationChart.html">Organization Chart</a></li>
              <li><a class="dropdown-item" href="#"> Manpower</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactUs.html">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  

